.button {
  padding: .5rem;
  background-color: rgb(187, 187, 187);
  border: 2px solid rgb(63, 63, 63);
  border-radius: .5rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(210, 210, 210);
  }
}