.Import {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Import-gallery {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

.Import-main {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  gap: 16px;
  height: 100%;
}

.Import-galleryMain {
  height: 100vh;
}

.Import-searchBar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Import-body{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px
}

.Import-buttons{
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.Import-buttons button {
  flex: 1;   /* makes each button take equal available space */
}

.Import-noneParagraph{
  text-align: center;
}