/* Estilos para Elementos Gerais*/
.image {
    border-radius: 15rem; 
    width: 15rem; 
    height: 15rem;
    object-fit: contain; 
}

.editButton {
    border-radius: 0.3rem;
}

.deleteButton {
    background-color: red;  /* idle */
    color: black;
    cursor: pointer;
    border-radius: 0.3rem;
}

.deleteButton:hover {
    background-color: red;  /* hover */
}

.deleteButton:active {
    background-color: red;  /* pressed */
}

/* Estilos para os Textos*/
.title {
    font-size: 1rem;
    margin: 0.2rem;
}

.text {
    font-size: 0.8rem;
    margin: 0.2rem;
}

/* Estilos para as DIVs*/
.borderDiv {
    display: flex;
    padding: 1.3rem 0.8rem;
    justify-content: stretch;
    border: 0.13rem solid black;
    border-radius: 2rem;
    overflow: hidden;
    flex-shrink: 0;
    background: white;
}

.bodyDiv {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    margin-left: 0.8rem;
}

.textDiv {
    float:left;
}

.buttonText {
    font-size: 0.8rem;
    vertical-align: middle;
}

.Import-buttonDiv {
    height: 3rem;
    background-color: rgb(187, 187, 187);
    border: 2px solid rgb(63, 63, 63);
    border-radius: .5rem;
    width: 100px;
    align-self:flex-end;
}